.bugname {
    font-size: 18pt;
    cursor: pointer;
}

.closed {
    color: red;
    text-decoration: line-through;
    font-style: italic;
    font-weight: bold;
    ;
}

li {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #e7e7e7;
}
