<!-- BugStats component -->
<app-bug-stats [data]="bugs"></app-bug-stats>

<!-- BugSort -->
<section class="sort">
    <label for="">Order By :</label>
    <select (change)="sortAttr = $any($event.target).value">
        <option value="">---Select----</option>
        <option value="id">Id</option>
        <option value="name">Name</option>
        <option value="isClosed">Status</option>
        <option value="createdAt">Created</option>
    </select>
    <label for="">Descending ? :</label>
    <input type="checkbox" (change)="sortDesc = $any($event.target).checked">
</section>


<!-- BugEdit -->
<app-bug-edit (bugAdded)="onNewBugAdded($event)"></app-bug-edit>


<!-- BugList -->
<section class="list">
    <ol>
        <li *ngFor="let bug of bugs | sort:sortAttr:sortDesc">
            <span 
                class="bugname"
                (click)="onToggle(bug)"
                [ngClass]="{ closed : bug.isClosed }"
            >{{ bug.name | trimText:30 }}</span>
            <small>[{{bug.id}}]</small>
            <div 
                class="datetime"
                [title]="bug.createdAt | date:'dd-MMM-yyyy hh:mm:ss a'"
            >
                [{{bug.createdAt | elapsed}}]
            </div>
            <button (click)="onRemove(bug)">Remove</button>
        </li>
    </ol>
    <button (click)="onRemoveClosed()">Remove Closed</button>
</section>