<section class="stats">
    <!-- <span class="closed">{{ getClosedCount() }}</span> -->
    <span class="closed">{{ bugs | closedCount }}</span>
    <span> / </span>
    <span>{{bugs.length}}</span>
</section>
<section class="sort">
    <label for="">Order By :</label>
    <select (change)="sortAttr = $any($event.target).value">
        <option value="">---Select----</option>
        <option value="id">Id</option>
        <option value="name">Name</option>
        <option value="isClosed">Status</option>
        <option value="createdAt">Created</option>
    </select>
    <label for="">Descending ? :</label>
    <input type="checkbox" (change)="sortDesc = $any($event.target).checked">
</section>
<section class="edit">
    <label for="">Bug Name :</label>
    <input type="text" (input)="newBugName = $any($event.target).value">
    <span> [ {{newBugName.length}} ] </span>
    <button (click)="onAddNew()">Add New</button>
</section>
<section class="list">
    <ol>
        <li *ngFor="let bug of bugs | sort:sortAttr:sortDesc">
            <span 
                class="bugname"
                (click)="onToggle(bug)"
                [ngClass]="{ closed : bug.isClosed }"
            >{{ bug.name | trimText:30 }}</span>
            <small>[{{bug.id}}]</small>
            <div class="datetime">[{{bug.createdAt | elapsed}}]</div>
            <button (click)="onRemove(bug)">Remove</button>
        </li>
    </ol>
    <button (click)="onRemoveClosed()">Remove Closed</button>
</section>