<div>
    <h3>Calculator-1</h3>
    <hr>
    <input type="number" #txtNumber1 (input)="n1 = txtNumber1.value">
    <input type="number" #txtNumber2 (input)="n2 = txtNumber2.value">
    <br>
    <button (click)="onAddClick()" >Add</button>
    <button (click)="onSubtractClick()" >Subtract</button>
    <button (click)="onMultiplyClick()" >Multiply</button>
    <button (click)="onDivideClick()" >Divide</button>
    <div>{{result}}</div>
</div>

<!-- 
    <div>
        <h3>Calculator-1</h3>
        <hr>
        <input type="number" #txtNumber1>
        <input type="number" #txtNumber2>
        <br>
        <button (click)="onAddClick(txtNumber1.value, txtNumber2.value)">Add</button>
        <button (click)="onSubtractClick(txtNumber1.value, txtNumber2.value)">Subtract</button>
        <button (click)="onMultiplyClick(txtNumber1.value, txtNumber2.value)">Multiply</button>
        <button (click)="onDivideClick(txtNumber1.value, txtNumber2.value)">Divide</button>
        <div>{{result}}</div>
    </div> 
-->